@model AstronomicalCatalog.Web.Models.DbStar

@{
    ViewBag.Title = "Данные о звезде";
}
<h2>Данные о звезде: @Model.KIC_ID</h2>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
    <div>Эффективная температура звезды: @Model.Teff</div>
    <div>Логарифм свободного падения на поверхности звезды: @Model.Logg</div>
    <div>Металличность: @Model.FeH</div>
    <div>Масса: @Model.Mass</div>
    <div>Радиус: @Model.Radius</div>
    <div>Планеты: </div>

    @foreach (var planet in Model.DbPlanets)
    {
        <div>@planet</div>
    }
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к базе", "Index")
</p>
