@model IEnumerable<AstronomicalCatalog.Web.Models.DbStar>

@{
    ViewBag.Title = "База астроданных";
}

<h3 style="color:darkblue">База астроданных</h3>

<p>
    @Html.ActionLink("Добавить новую звезду", "Create")
</p>
<table class="table">
    <tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KIC_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Radius)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DbPlanets)
        </th>
        <th>
            Действия
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KIC_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                @foreach (var planet in item.DbPlanets)
                {
                    <p>@Html.DisplayFor(modelItem => planet.Name)</p>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Показать данные", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
